<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1><i class="mdi mdi-account-card-details"></i> Fiche Adhérent</h1>

            <br>

            <!-- BEGIN DOWNLOAD PANEL -->
            <div class="panel panel-default well">
                <div class="panel-body">
                    <form action="" class="form-horizontal " name="ficheAdherentForm" ng-submit="submitForm(ficheAdherentForm.$valid)" id="ficheAdherentForm" novalidate>
                        <!-- Nom & Prenom -->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-account"></i>
                                    </div>
                                    <input type="text" class="form-control" id="nom" ng-model="adherent.nom" placeholder="Nom" name="nom" required>
                                    <p ng-show="ficheAdherentForm.nom.$invalid && !ficheAdherentForm.nom.$pristine" class="help-block">Le nom est requis</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-account"></i>
                                    </div>
                                    <input type="text" class="form-control" id="prenom" ng-model="adherent.prenom" placeholder="Prénom" name="prenom" required></div>
                                    <p ng-show="ficheAdherentForm.prenom.$invalid && !ficheAdherentForm.prenom.$pristine" class="help-block">Le prénom est requis</p>
                            </div>
                        </div>

                        <!-- Date naissance & age -->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-cake"></i>
                                    </div>
                                    <input type="text" class="form-control" id="dateNaissance" ng-model="adherent.date_naissance" placeholder="Date de naissance" name="dateNaissance" required>
                                    <p ng-show="ficheAdherentForm.dateNaissance.$invalid && !ficheAdherentForm.dateNaissance.$pristine" class="help-block">Champ obligatoire</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-timer-sand"></i>
                                    </div>
                                    <input type="text" class="form-control" id="age" ng-model="adherent.age" placeholder="Âge" name="age">
                                </div>
                            </div>
                        </div>

                        <!-- Adresse mail -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-email"></i>
                                    </div>
                                    <input type="email" class="form-control" id="email" ng-model="adherent.email" placeholder="Adresse mail" name="email" required>
                                    <p ng-show="ficheAdherentForm.email.$invalid && !ficheAdherentForm.email.$pristine" ng-pattern="emailFormat" class="help-block">Email non valide</p>
                                </div>
                            </div>
                        </div>

                        <!-- adresse rue et num -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-home"></i>
                                    </div>
                                    <input type="text" class="form-control" id="adresse" ng-model="adherent.adresse.ligne1" placeholder="N° et rue" name="adresse">
                                </div>
                            </div>
                        </div>

                        <!-- CP et ville -->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-map-marker-radius"></i>
                                    </div>
                                    <input type="text" class="form-control" id="codePostal" ng-model="adherent.adresse.codepostal" placeholder="Code postal" name="codePostal">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-city"></i>
                                    </div>
                                    <input type="text" class="form-control" id="ville" ng-model="adherent.adresse.ville" placeholder="Ville" name="ville"></div>
                            </div>
                        </div>

                        <!-- date debut/fin cotisation + montant -->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-calendar-blank"></i>
                                    </div>
                                    <datepicker date-format="dd-MM-yyyy">
                                        <input type="text" class="form-control" id="DatePaiementCotisation" ng-model="adherent.datePaiementCotisation" placeholder="Date paiement cotisation" name="DatePaiementCotisation" ng-bind="finCotisation()">
                                    </datepicker>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-calendar"></i>
                                    </div>
                                    <datepicker date-format="dd-MM-yyyy">
                                        <input type="text" class="form-control" id="DateFinAbonnement" placeholder="Date fin abonnement" name="DateFinAbonnement">
                                    </datepicker>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-currency-eur"></i>
                                    </div>
                                    <input type="text" class="form-control" id="MontantCotisation" ng-model="adherent.montantCotisation" placeholder="Montant cotisation" name="MontantCotisation"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button id="adherent-submit" type="submit" ng-disabled="ficheAdherentForm.$invalid" class="btn btn-default btn-info">Enregistrer</button>
                            </div>
                        </div>
                        <input type="hidden" value="">
                      </form>
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
            <!-- END DOWNLOAD PANEL -->
        </div>
        <!-- end col-md-8 -->

    </div>
</div>
