<div class="container cadreLogin">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Connexion
                    <i class="mdi mdi-login-variant"></i>
                </h4>
                    <form class="login" ng-submit="connection()">
                        <input type="text" id="login" class="form-control input-sm chat-input" ng-model="login" placeholder="Nom d'utilisateur"/>
                        </br>
                        <input type="password" id="pass" class="form-control input-sm chat-input" ng-model="pass" placeholder="Mot de passe"/>
                        </br>
                        <input type="submit" value="Se connecter" class="btn btn-primary btn-md"/>
                    </form>

            </div>

        </div>
    </div>
</div>
