<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login" ng-submit="connection()">
	                <input type="text" placeholder="Username" ng-model="login" id="login"/>
	                <input type="password" placeholder="Password" ng-model="pass" id="pass"/>
	                <input type="submit" value="Sign In"  class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

